langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
tavily-python
pymupdf
sentence-transformers
chromadb
pydantic
python-dotenv
streamlit